@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  font-family: "Space Mono", sans-serif;
  background: #f6f8ff;
}
.dark body {
  background: #141d2f;
}

.logo {
  color: rgba(34, 39, 49, 1);
  font-size: 26px;
  font-weight: 700;
}

.dark .logo {
  color: rgba(255, 255, 255, 1);
}
.searchDev,
.devResult {
  border-radius: 15px;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
  background: white;
}
